/* Menu Items */
.menu:focused {
    -fx-background-color: #b5b5b5;
}

/*.menu:showing {
    -fx-background-color: #0000ff;
}*/

.menu-item:focused {
     -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: #fff;
}

/* Animation Windows */
.win-display, .win-butt, .win-info, .win-help {
    -fx-border-color: #000;
}

.win-display {
    -fx-background-color: rgb(128, 128, 128);
}

.win-butt {
    -fx-background-color: rgb(30, 30, 30);
}

.win-help {
    -fx-font-family: "Comic Sans MS";
    -fx-border-width: 1px 0px 0px 0px;
    -fx-background-color: rgb(0, 117, 192);
}

/* Line Charts */
.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-stroke: #000;
    -fx-effect: null;
}